{{> head}}

{{> navbar}}


<div class="row">

    <div class="col-8">
        <h1>To see More About us....</h1>

        <p>Esto es un parrafo para describir la pinshi imagen</p>
    </div>

    <div class="col-4">
        <img src="/public/images/aboutus.jpg" class="img-thumbnail">
    </div>



</div>

{{> footer}}